.payment-schedule {
  width: 100%;

  .table {
    width: 800px;
    margin: 40px auto;
    border-collapse: collapse;

    @media (max-width: 1070px) {
      width: 600px;
      font-size: 14px;
    }

    @media (max-width: 660px) {
      width: 400px;
      font-size: 12px;
    }

    @media (max-width: 440px) {
      width: 340px;
      font-size: 11px;
    }

    .thead {
      font-size: 16px;

      @media (max-width: 1070px) {
        font-size: 13px;
      }

      @media (max-width: 660px) {
        font-size: 12px;
      }

      @media (max-width: 440px) {
        font-size: 11px;
      }
    }

    tr {
      height: 40px;

      td {
        text-align: center;
        border-bottom: 2px solid rgba(211, 211, 211, 0.3);
      }
    }
  }
}
